/* General layout styling of the Blades in the Aspect*/

.header {
  display: block;

  margin-bottom:20px;
}

.chat-input,
.messages {
  display: block;
}

.messages {
  margin-bottom: 20px;
}

.chat-input {}
