/* General layout styling of the Blades in the Aspect*/

body {
  padding: 0px 40px;
}

.chat-header {
  display: block;

  margin-bottom:20px;
}

.chat-login {
  height: 200px;
  width: 300px;
  margin: auto;
  padding: 4px;

  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3);
  box-shadow: 0 2px 3px rgba(0,0,0,.3);
  background: #f7f7f9;
}

.chat-input,
.chat-messages {
  display: block;
}

.chat-messages {
  margin-bottom: 20px;
}

.chat-message:nth-child(odd) {
  background-color: #f9f9f9;
}

.chat-input {}
