/* Blade container element */

.messages {
  min-width: 400px;
  height: 200px;
  overflow: auto;
}

/* individual message */
.message {
  position: relative;
  overflow: auto;

  margin-bottom: 10px;
}

.message-user-id {
  position: absolute;
  top: 0;
  left: 0;

  font-weight: bold;
  width: 150px;
  margin-right: 5px;
  text-align: right;

  cursor: pointer;
}

.message-user-id:after {
  content:': ';
}

.message-text {
  display: inline-block;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* space for userId */
  padding-left: 160px;
  /* space for timestamp */
  padding-right: 100px;

  width: 100%;
  min-width: 200px
}

.message-timestamp {
  position: absolute;
  top: 0;
  right: 0;

  width: 100px;

  text-align: right;
  font-style: italic;
  font-size: small;
}
